@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Dancing+Script&family=Great+Vibes&family=Parisienne&family=Sacramento&display=swap');

@mixin roboto_regular {
  font-family: Roboto;
  font-weight: 400;
}

@mixin roboto_medium {
  font-family: Roboto;
  font-weight: 500;
}

@mixin roboto_semibold {
  font-family: Roboto;
  font-weight: 600;
}

@mixin roboto_bold {
  font-family: Roboto;
  font-weight: 700;
}

@mixin gvcursive_regular {
  font-family: 'Great Vibes', cursive;
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Parisienne', cursive;
  font-family: 'Sacramento', cursive; */
  font-weight: 400;
}

@mixin greatvibes_bold {
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
}
