// Small tablets and large smartphones (landscape view)
$screen-sm-min: 430px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$header-height: 78px;
$header-content-height: 45px;
$footer-height: 60px;